@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: 100%;
}

.content {
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50vh;
    width: 15rem;
}


.inputBar {
    height: 4rem;
    padding: 1rem;
}

input{
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.info{
    text-align: center;
    padding-top: 3rem;

}